body{
    margin: 0;   
    }
    .conteiner{
       
        height: 500px;
     
        color: aliceblue;
        z-index: 2;
        background: url(/img/space3.jpg) center no-repeat;
        background-size: cover;
       
        
    }

    .text-index{
    
        padding: 10px;
        text-align: center;
      
    }
    .text-imag{
        /* background: url(/img/2.jpg) center no-repeat; */
        background-color: url(/img/home-bg.jpg);
        background-size: cover;
        height: 100px;
    bottom: 30px;
        border-radius: 30px/30px;

    }
    
   .podval{
    height: 200px;
    background-color: rgb(7, 6, 6);
   }

   .onas{
       text-size-adjust: 10px;
       text-align: center;
       padding: 20px;
      
       
       
   }
   a{text-decoration: none;
    color: rgb(223, 224, 240);
   }
   a:hover{
    color: rgb(49, 52, 85);
   }

   .onas1{
    opacity: .80;
    font-weight: bold;
    transform: scale(1.1);
    
   }
   .onas1:hover {
    -webkit-transform: scale(1.0);
    -ms-transform: scale(0.4);
    transform: scale(1.2);
    
  }
    